{% extends 'home/base.html' %}
{% block title %}
 All Blog
{% endblock title %}

{% block body %}

{% for post in post %}
<div class="container">
    <h3 class="mt-4">Article</h3>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6>{{ post.author }}, {{ post.timeStamp }}</h6>
        <p class="card-text">{{ post.content| truncatechars:500 }}</p>
        <a href="{% url 'blog:post' post.slug %}" role="button" class="btn btn-outline-primary stretched-link">Continue Reading</a>
      </div>
    </div>
</div>
{% endfor %}

{% endblock body %}