<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title> {% block title %}{% endblock title %}</title>
  <style>
    .social-icons a {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      background-color: #495057;
      color: #fff !important;
      border-radius: 100%;
      text-align: center;
      font-size: 1rem;
      line-height: 2rem;
      margin-right: .5rem;
    }

    .social-icons a:hover {
      background-color: #34baeb;
    }

    .footer {
      bottom: 0;
      width: 100%;
      height: 120px;
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
    .bg-dark{
      background-color: #000 !important;
      color: #fff;
    }
      {% block css %} {% endblock css %}
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">CodeIsFun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
        </li>
      </ul>
      <form method="get" action='/search' class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="query" id="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
        {% if user.is_authenticated %}
         <div class="navbar-nav ml-auto">
             <div class="dropdown">
                 <a class="btn nav-link dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Hey {{ user.username}}
                  </a>
                 <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                     <li><a class="dropdown-item"  href="{% url 'account:logout' %}">Logout</a></li>
                     <li><a class="dropdown-item" href="{% url 'account:password_change' %}">Change Password</a></li>
                 </ul>
            </div>
          </div>
         {% else %}
         <div class="navbar-nav ml-auto">
             <a class="nav-link" href="{% url 'account:login' %}">Sign in</a>
             <a class="nav-link" href="{% url 'account:register' %}">Sign up</a>
         </div>
        {% endif %}
      </div>
    </div>
    </div>
    </div>
  </nav>

  {% block body %}

  {% endblock body %}
  <footer class="footer bg-dark ">
    <!--Content -->
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-md">
          <!-- Copyright -->
          <p class="text-white text-muted">
            <small>
              Copyright &copy; 20{% now "y" %} <span class="current-year"></span>
            </small>
          </p>
        </div>
        <div class="col-md">
          <!-- Social links -->
          <div class="social-icons text-md-right">
            <a href="https://www.linkedin.com/in/anshu-prakash-527443149/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/ansh9690" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/anshuprakash_" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/_ansh__1/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  {% block custom_script %}{% endblock custom_script%}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://kit.fontawesome.com/f10008437f.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>