{% extends 'home/base.html' %}
{% load static %}
{% block title %}CodeIsFun | {{ user.username }}{% endblock title %}

{% block css %}
.main {
    width: 100%;
}
.jumbotron{
    height: 500px;
}
.main{
margin-top :100px;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
{% endblock css %}

{% block body %}
<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container">
    <h1 class="display-3 main text-black"><strong><span id="typed"></span></strong></h1>
  </div>
</div>
<div class="container mb-5">
<div class="row main">
    <div class="col">
        <h1>Latest Post</h1>
        <hr style="height:3px;border:none;color:#333;background-color:#333;" />
        {% for post in post %}
        <div class="card my-4">
            <div class="card-body">
              <h2 class="title">{{ post.title }}</h2>
              <h4>Posted by {{ post.author }} on {{ post.timeStamp }}</h4>
              <p class="text">{{ post.content| truncatechars:500 }}
              <a href="{% url 'blog:post' post.slug %}" class="stretched-link text-dark font-weight-bold">Continue Reading</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% block custom_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js" async defer></script>
<script>
    window.onload = function () {
        console.log("loaded")
        var typed = new Typed('#typed', {
            strings: ["Anshu Prakash", "Django Developer", "Indian Institute of Information Technology Jabalpur", "Enjoy CodeIsFun...!"],
            backSpeed: 30,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 40,
            loop: true,
        });
    };
</script>
{% endblock custom_script%}

{% endblock body %}
