{% extends 'home/base.html' %}
{% block title %}
Search Results
{% endblock title %}


{% block body %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
   {% if post|length < 1 %}
    <div class="mt-5" style="margin-bottom:330px;">
    <p> Your search - {{ query| truncatechars:100 }} - did not match any Article.<br></p>
    <p>Suggestions:<br></p>
    <ul>

        <li>Make sure that all words are spelled correctly.</li><br>
        <li>Try different keywords.</li><br>
        <li>Try more general keywords.</li>
    </ul>
    </div>
    {% else %}
    <h1 class="mt-4">Search Results</h1>
    <hr>
    {% for post in post %}
    <div class="my-3 mb-5">
        <h2 class="title">{{ post.title }}</h2>
        <h4>{{ post.author }}, {{ post.timeStamp }}</h4>
        <p class="text">{{ post.content| truncatechars:500 }}
        <a href="{% url 'blog:post' post.slug %}" class="stretched-link text-dark font-weight-bold" >Continue Reading</a></p>
      </div>
    {% endfor %}
{% endif %}
</div>

{% endblock body %}