{% extends 'account/base.html' %}
{% block title %}CodeIsFun | Done{% endblock title %}

{% block custom_css %}
body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}
{% endblock custom_css %}
{% block body %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-3 d-block mb-4">Check your mail.</span>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}