{% extends 'account/base.html' %}
{% block title %}CodeIsFun | Reset Password{% endblock title %}

{%  load crispy_forms_tags %}
{% block custom_css %}
body {
    font-family: "Lato", sans-serif;
}
.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 100px;
}
.main {
    padding: 0px 13%;
}
@media screen and (min-width: 768px){
    .main{
        margin-left: 30%;
    }
    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form{
        margin-top: 90%;
    }
}

.login-text{
    margin-top: 35%;
    padding-left: 100px;
    color: #fff;
}

.login-text h2{
    font-weight: 300;
}
.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.btn-black:hover{
    color: #fff;
}
{% endblock custom_css %}

{% block body %}

<div class="sidenav">
         <div class="login-text">
            <h2>Forgot your password?</h2>
             <p>Enter your email address, and we'll email instructions for setting a new one.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group my-2">
                        {{ form|crispy  }}
                    </div>
                    <button type="submit" class="btn btn-block btn-black">Submit</button>
               </form>
            </div>
         </div>
      </div>
{% block custom_javascript %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock custom_javascript %}
{% endblock body %}


